<a href="https://colab.research.google.com/github/adolfoguimaraes/datascience/blob/main/code/11_laboratorio_clusterizacao4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratório de Clusterização

O objetivo desse laboratório é usar algoritmos de clusterização para agrupar instâncias de um dataset que possui informações sobre espécies de animais. Você deve testar diferentes algoritmos de clusterização para gerar diferentes agrupamentos e analisar o resultado a partir da função `analyse_result`.

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans

## Função Auxiliar

In [ ]:
# Função auxiliar para análise dos resultados. Não deve ser modificada. 
# Ela recebe como entrar o vetor com os clusters definidos na base.

def analyse_result(clusters_):
    compare_ = pd.read_csv("../datasets/clusterizacao/ZooCompare.csv")
    compare_.loc[:,'cluster'] = clusters_
    compare_ = compare_.groupby(by=['cluster','class_name']).count()
    compare_ = compare_.reset_index()

    for c in list(set(clusters_)):
        print("Cluster %i" %c)
        df_ = compare_[compare_['cluster'] == c]
        for index, row in df_.iterrows():
            print("\t %s: %s" % (row['class_name'],row['animal_name']))

## Dados

In [ ]:
dataset_zoo = pd.read_csv("../datasets/clusterizacao/ZooDatasetCluster.csv")
dataset_zoo

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

## Algoritmos de Cluster

In [ ]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(dataset_zoo)
clusters = kmeans.labels_.tolist()

In [ ]:
analyse_result(clusters_=clusters)

Cluster 0
	 Amphibian: 4
	 Bug: 8
	 Invertebrate: 6
	 Mammal: 31
	 Reptile: 2
Cluster 1
	 Bird: 20
	 Fish: 13
	 Invertebrate: 4
	 Mammal: 10
	 Reptile: 3